<html>

<head></head>

<body>

    <p>Hello {{.Greeting}},</p>

    <p>Thanks for signing up for {{.Organization}}. Please use the link below to complete the sign up process.</p>

    <p>{{.Link}}</p>

    <p>If you have not requested to join {{.Organization}}, you don't need to do anything. The request will expired in 24 hours.</p>

    <p>Thank you,</p>

    <p>{{.Organization}} Team</p>

    <p>
        <small>This message was send to {{.Email}}. If you are not {{.Email}}, please delete this message immediately.</small>
    </p>
</body>

</html>